*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: monospace;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.item-menu{
	width: 100%;
	padding: 80px 0px;
	text-align: center;
	margin: 30px auto;
	background: #eee;

}
.item-menu li{
	list-style: none;
	padding: 12px 15px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #08c;
	border-radius: 10px;
	margin: 10px;
	transition: 1s;

}
.item-menu li:hover{
	background: black;
	color: white;
}
.item-details{
	width: 100%;
	
}
.item-details img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	
}